.project header h2 {
    font-size: 2em;
    color: #007acc;
    margin-bottom: 0.5em;
    text-align: center;
  }
  
  .project .content {
    padding: 1.5em 0;
    text-align: center;
  }
  
  .project .visual-content .image.main img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .project .visual-content .caption {
    font-size: 0.9em;
    color: #777;
    margin-top: 0.5em;
    text-align: center;
  }
  